<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Fual_Indeed</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Admin_login</display-name>
    <servlet-name>Admin_login</servlet-name>
    <servlet-class>fuel_indeed_services.Admin_login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_login</servlet-name>
    <url-pattern>/Admin_login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register_Fuel_station</display-name>
    <servlet-name>Register_Fuel_station</servlet-name>
    <servlet-class>fuel_indeed_services.Register_Fuel_station</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register_Fuel_station</servlet-name>
    <url-pattern>/Register_Fuel_station</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Fuel_Staion_login</display-name>
    <servlet-name>Fuel_Staion_login</servlet-name>
    <servlet-class>fuel_indeed_services.Fuel_Staion_login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Fuel_Staion_login</servlet-name>
    <url-pattern>/Fuel_Staion_login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>User_login</display-name>
    <servlet-name>User_login</servlet-name>
    <servlet-class>fuel_indeed_services.User_login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User_login</servlet-name>
    <url-pattern>/User_login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register_User</display-name>
    <servlet-name>Register_User</servlet-name>
    <servlet-class>fuel_indeed_services.Register_User</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register_User</servlet-name>
    <url-pattern>/Register_User</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Update_fuel_avail</display-name>
    <servlet-name>Update_fuel_avail</servlet-name>
    <servlet-class>fuel_indeed_services.Update_fuel_avail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update_fuel_avail</servlet-name>
    <url-pattern>/Update_fuel_avail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Update_fuel_rate</display-name>
    <servlet-name>Update_fuel_rate</servlet-name>
    <servlet-class>fuel_indeed_services.Update_fuel_rate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update_fuel_rate</servlet-name>
    <url-pattern>/Update_fuel_rate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_delivery_person</display-name>
    <servlet-name>Add_delivery_person</servlet-name>
    <servlet-class>fuel_indeed_services.Add_delivery_person</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_delivery_person</servlet-name>
    <url-pattern>/Add_delivery_person</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delivery_person_login</display-name>
    <servlet-name>Delivery_person_login</servlet-name>
    <servlet-class>fuel_indeed_services.Delivery_person_login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delivery_person_login</servlet-name>
    <url-pattern>/Delivery_person_login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FuelStation_ChangePassword</display-name>
    <servlet-name>FuelStation_ChangePassword</servlet-name>
    <servlet-class>fuel_indeed_services.FuelStation_ChangePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FuelStation_ChangePassword</servlet-name>
    <url-pattern>/FuelStation_ChangePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delivery_person_changepassword</display-name>
    <servlet-name>Delivery_person_changepassword</servlet-name>
    <servlet-class>fuel_indeed_services.Delivery_person_changepassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delivery_person_changepassword</servlet-name>
    <url-pattern>/Delivery_person_changepassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Booking_fuel</display-name>
    <servlet-name>Booking_fuel</servlet-name>
    <servlet-class>fuel_indeed_services.Booking_fuel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Booking_fuel</servlet-name>
    <url-pattern>/Booking_fuel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageBooking</display-name>
    <servlet-name>ManageBooking</servlet-name>
    <servlet-class>fuel_indeed_services.ManageBooking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageBooking</servlet-name>
    <url-pattern>/ManageBooking</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeStatus</display-name>
    <servlet-name>ChangeStatus</servlet-name>
    <servlet-class>ChangeStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeStatus</servlet-name>
    <url-pattern>/ChangeStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>User_Change_Password</display-name>
    <servlet-name>User_Change_Password</servlet-name>
    <servlet-class>fuel_indeed_services.User_Change_Password</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User_Change_Password</servlet-name>
    <url-pattern>/User_Change_Password</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeStatus1</display-name>
    <servlet-name>ChangeStatus1</servlet-name>
    <servlet-class>fuel_indeed_services.ChangeStatus1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeStatus1</servlet-name>
    <url-pattern>/ChangeStatus1</url-pattern>
  </servlet-mapping>
</web-app>